.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/Academicarea21.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-group-1 {
  width: 730px;
  min-height: 431px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.8);
  height: auto;
  margin: 105px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 31px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 89px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 496px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1132px;
  margin: 4px auto 3px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 65px 140px 45px;
}

.u-section-2 .u-text-1 {
  animation-duration: 7500ms;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  font-family: Calistoga;
  background-image: none;
  font-weight: normal;
  line-height: 52.8px;
  margin: -33px 52px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 52px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 549px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 60px 80px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-family: Calistoga;
  font-weight: normal;
  margin: 95px 8px 0 auto;
  padding: 14px 45px 15px 44px;
}

.u-section-2 .u-icon-2 {
  height: 124px;
  width: 124px;
  margin: -124px auto 0 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-family: Calistoga;
  font-size: 1.875rem;
  font-weight: normal;
  margin: 164px 7px 0 auto;
  padding: 15px 54px 15px 52px;
}

.u-section-2 .u-icon-3 {
  height: 123px;
  width: 123px;
  margin: -118px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 54px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 639px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 4px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .u-section-2 .u-icon-2 {
    height: 117px;
    width: 117px;
    margin-top: -118px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 175px;
    margin-right: 0;
    padding: 14px 9px 16px 8px;
  }

  .u-section-2 .u-icon-3 {
    height: 95px;
    width: 95px;
    margin-top: -87px;
    margin-left: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 36px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 38px;
    padding-left: 37px;
  }

  .u-section-2 .u-icon-2 {
    height: 76px;
    width: 76px;
    margin-top: -153px;
    margin-left: 4px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 251px;
    margin-left: 0;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
  }

  .u-section-2 .u-icon-3 {
    height: 76px;
    width: 76px;
    margin-top: -153px;
    margin-left: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 19px;
    margin-right: 205px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -77px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-right: 205px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -76px;
    margin-left: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 80px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-2 .u-icon-2 {
    height: 56px;
    width: 56px;
    margin-top: -137px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 194px;
    margin-right: auto;
    margin-left: 20px;
    padding-bottom: 16px;
  }

  .u-section-2 .u-icon-3 {
    height: 65px;
    width: 65px;
    margin-top: -142px;
    margin-left: 20px;
  }
}.u-section-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 692px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 84px 0 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 606px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-family: Aclonica;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  margin-top: 0;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.375rem;
  display: block;
  padding: 33px 29px 34px 28px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.375rem;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 548px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  font-family: "Abril Fatface";
  margin: 95px 0 0 57px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 863px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 98px;
    margin-right: 7px;
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 457px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 34px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 363px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Bevan;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 17px 253px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -39px auto 0 17px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 363px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 65px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 82px auto 0 34px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 10px 0 0 17px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 143px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 3px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}