.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/Academicarea21.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-group-1 {
  width: 730px;
  min-height: 431px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.8);
  margin: 99px auto 60px 176px;
}

.u-section-1 .u-container-layout-1 {
  padding: 31px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 336px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: Aclonica;
  text-decoration: underline !important;
  margin: 23px 364px 0 14px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-family: Alatsi;
  margin: 36px 104px 60px 31px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 178px;
  }

  .u-section-2 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1282px;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 1px;
  margin-bottom: 1px;
  min-height: 1280px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    height: auto;
  }
}
